html,body{
    padding:0;
    margin: 0;
    background-color:#000;
}
*{
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}
/* -----Header----- */
#Header{
    height: 36px;
    background-color:#333;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    font-family: "等线";
    z-index: 1000;
}

/*-----Left-----*/

#Left{
    width: 200px;
    position: fixed;
    height: 100%;
    z-index: 999;
    top: 36px;
    background-color:#222;
    box-sizing:border-box;
    padding-bottom:36px;
    color:#fff;
}

.indexNav{
    position:relative;
    width:100%;
    font-weight: bold;
}
.indexNav-D1List{
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    height: auto;
    width: 100%;
    list-style: none;
}
.indexNav-D1Item{
    position: relative;
    top: 0;
    margin: 0;
    left: 0;
    width: 100%;
    height: 42px;
    list-style: none;
    border-bottom: #666 1px solid;
}
.indexNav-D1Content{
    position: relative;
    width: 100%;
    height: 100%;
    /* text-align: center; */
}
.indexNav-D1Content::before{
    content: "";
    width: 0;
    height: 100%;
    background-color: #0f0;
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    transition:width 0.1s linear;
    transition-delay: 0.1s;
}
.indexNav-D1Link{
    color: #0f0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition:color 0.1s linear;
}
.indexNav-D1Link::before{
    content: "";
    width: 2em;
    height: 80%;
    display:inline-block;
    vertical-align: text-bottom;
}

.indexNav-D1Item:hover .indexNav-D1Content::before{
    width: 100%;
    transition-delay: 0s;
}
.indexNav-D1Item:hover .indexNav-D1Link{
    transition-delay: 0s;
    color: #f0f;
}
.indexNav-D2ListBox{
    position: absolute;
    left: 100%;
    width: 0;
    height: auto;
    top: 0;
    background-color: #0f0;
    overflow: hidden;
    transition: padding,width 0.1s linear;
    transition-delay: 0.1s;
}
.indexNav-D1Item:hover .indexNav-D2ListBox{
    width: 80%;
    padding-left:5%;
    transition-delay: 0.1s;
}
.indexNav-D2List{
    position: relative;
    left: 0;
    width: 100%;
    top: 0;
    padding: 0;
}
.indexNav-D2Item{
    position: relative;
    word-wrap: none;
    width: 100%;
    height: 32px;
    border-bottom: #666 1px solid;
    background-color: #444;
}
.indexNav-D2Item:last-child{
    border-bottom: none;
}
.indexNav-D2Content{
    position: relative;
    width: 100%;
    height: 100%;
}

.indexNav-D2Item::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #0f0;
    transition: width 0.1s linear;
}
.indexNav-D2Item:hover::before{
    width: 100%;
}
.indexNav-D2Link{
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    color: #0f0;
    transition: color 0.1s linear;
}
.indexNav-D2Item:hover .indexNav-D2Link{
    color: #f0f;
}
.indexNav-D2Link::before{
    content: "";
    display: inline-block;
    position: relative;
    height: 90%;
    width: 1.5em;   
    vertical-align: text-bottom;
}


.audioControl{
    position: absolute;
    bottom: 36px;
    left: 0;
    height: 200px;
    width: 100%;
    background-color: #000;
    box-sizing: border-box;
    border: #666 2px solid;
}
.audioControl-CtrlBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.audioControl-visual{
    position: absolute;
    top: 0;
    height: 80%;
    width: 100%;
}
.audioControl-playBar{
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 4px;
    left: 46%;
    transform: translateX(-50%);
    background-color: #0f0;
}
.audioControl-playBarBtn{
    position: absolute;
    top: 50%;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #f0f;
    border: none;
    transform: translateY(-50%);
}
.audioControl-playBarLow{
    position: absolute;
    height: 100%;
    background-color: #f00;
}
.audioControl-buttons{
    position: absolute;
    bottom: 0;
    height: 18%;
    width: 100%;
}
.audioControl-button{
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #f00;
    left: 50%;
    font-size: 0;
    color:#0000;
    top: 50%;
}
.audioControl-playType{
    transform: translate(-290%,-50%);
}
.audioControl-last{
    transform: translate(-170%,-50%);
}
.audioControl-playPause{
    transform: translate(-50%,-50%);
}
.audioControl-next{
    transform: translate(70%,-50%);
}