html,body{
    padding:0;
    margin: 0;
    background-color:#000;
}
*{
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}
.hidderText{
    color:#0000;
    font-size:0px;
}
/* -----Header----- */
#Header{
    height: 36px;
    background-color:#333;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    font-family: "等线";
    z-index: 1000;
}

/*-----Left-----*/

#Left{
    width: 200px;
    position: fixed;
    height: 100%;
    z-index: 999;
    top: 36px;
    background-color:#222;
    box-sizing:border-box;
    padding-bottom:36px;
    color:#fff;
}
#Deviation{
    position:absolute;
    top:0;
    left:0;
    padding-left:200px;
    padding-top:36px;
    width:100%;
    min-height:100%;
}
#Main{
    position:relative;
    width:100%;
    height:auto;
}
/* icon精灵图像 */
.iconSpritesSvg{
    background-image:url("../img/iconSprites.svg");
    background-size:1000% 1000%;
    color:#0000;
    display:inline-block;
}
.iconSpritesSvg-logo{
    background-position: 0 0;
}
.iconSpritesSvg-bbs{
    background-position: -100% 0;
}
.iconSpritesSvg-index{
    background-position: -700% 0;
}