html,body{
    padding:0;
    margin: 0;
    background-color:#000;
}
*{
    box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
}
.hidderText{
    color:#0000;
    font-size:0px;
}
/* -----Header----- */
#Header{
    height: 36px;
    background-color:#333;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    font-family: "等线";
    z-index: 1000;
}

/*-----Left-----*/

#Left{
    width: 200px;
    position: fixed;
    height: 100%;
    z-index: 999;
    top: 36px;
    background-color:#222;
    box-sizing:border-box;
    padding-bottom:36px;
    color:#fff;
}
#Deviation{
    position:absolute;
    top:0;
    left:0;
    padding-left:200px;
    padding-top:36px;
    width:100%;
    min-height:100%;
}
#Main{
    position:relative;
    width:100%;
    height:auto;
}
/* icon精灵图像 */
.iconSpritesSvg{
    mask-image:url("../img/iconSprites.svg");
    mask-size:1000% 1000%;
    -webkit-mask-image:url("../img/iconSprites.svg");
    -webkit-mask-size:1000% 1000%;
    color:#0000;
    /* 不要再这个元素里加 childnode */
    display:inline-block;
}
/* Y0 */
.iconSpritesSvg-logo,.iconSpritesSvg-00{
    mask-position: 0 0;
	-webkit-mask-position: 0 0;
}
.iconSpritesSvg-bbs,.iconSpritesSvg-10{
    mask-position: -100% 0;
	-webkit-mask-position: -100% 0;
}
.iconSpritesSvg-jigsaw,.iconSpritesSvg-20{
    mask-position: -200% 0;
	-webkit-mask-position: -200% 0;
}
.iconSpritesSvg-eye,.iconSpritesSvg-30{
    mask-position: -300% 0;
	-webkit-mask-position: -300% 0;
}
.iconSpritesSvg-closeEye,.iconSpritesSvg-40{
    mask-position: -400% 0;
	-webkit-mask-position: -400% 0;
}
.iconSpritesSvg-sqrt,.iconSpritesSvg-yes,.iconSpritesSvg-50{
    mask-position: -500% 0;
	-webkit-mask-position: -500% 0;
}
.iconSpritesSvg-key,.iconSpritesSvg-60{
    mask-position: -600% 0;
	-webkit-mask-position: -600% 0;
}
.iconSpritesSvg-index,.iconSpritesSvg-70{
    mask-position: -700% 0;
	-webkit-mask-position: -700% 0;
}
.iconSpritesSvg-user,.iconSpritesSvg-80{
    mask-position: -800% 0;
	-webkit-mask-position: -800% 0;
}
.iconSpritesSvg-home,.iconSpritesSvg-90{
    mask-position: -900% 0;
	-webkit-mask-position: -900% 0;
}
/* Y1 */
.iconSpritesSvg-selete,.iconSpritesSvg-01{
    mask-position: 0 -100%;
	-webkit-mask-position: 0 -100%;
}
.iconSpritesSvg-reload,.iconSpritesSvg-11{
    mask-position: -100% -100%;
	-webkit-mask-position: -100% -100%;
}
.iconSpritesSvg-enter,.iconSpritesSvg-21{
    mask-position: -200% -100%;
	-webkit-mask-position: -200% -100%;
}
.iconSpritesSvg-add,.iconSpritesSvg-31{
    mask-position: -300% -100%;
	-webkit-mask-position: -300% -100%;
}
.iconSpritesSvg-minuid,.iconSpritesSvg-41{
    mask-position: -400% -100%;
	-webkit-mask-position: -400% -100%;
}
.iconSpritesSvg-multiply,.iconSpritesSvg-51{
    mask-position: -500% -100%;
	-webkit-mask-position: -500% -100%;
}
.iconSpritesSvg-divided,.iconSpritesSvg-61{
    mask-position: -600% -100%;
	-webkit-mask-position: -600% -100%;
}
.iconSpritesSvg-percent,.iconSpritesSvg-71{
    mask-position: -700% -100%;
	-webkit-mask-position: -700% -100%;
}
.iconSpritesSvg-ddd,.iconSpritesSvg-81{
    mask-position: -800% -100%;
	-webkit-mask-position: -800% -100%;
}
.iconSpritesSvg-arrow,.iconSpritesSvg-91{
    mask-position: -900% -100%;
	-webkit-mask-position: -900% -100%;
}
/* Y2 */
.iconSpritesSvg-play,.iconSpritesSvg-02{
    mask-position: 0 -200%;
	-webkit-mask-position: 0 -200%;
}
.iconSpritesSvg-pause,.iconSpritesSvg-12{
    mask-position: -100% -200%;
	-webkit-mask-position: -100% -200%;
}
.iconSpritesSvg-next,.iconSpritesSvg-22{
    mask-position: -200% -200%;
	-webkit-mask-position: -200% -200%;
}
.iconSpritesSvg-last{
    mask-position: -200% -200%;
	-webkit-mask-position: -200% -200%;
    transform:scaleX(-1);
}
.iconSpritesSvg-loop,.iconSpritesSvg-32{
    mask-position: -300% -200%;
	-webkit-mask-position: -300% -200%;
}
.iconSpritesSvg-random,.iconSpritesSvg-42{
    mask-position: -400% -200%;
	-webkit-mask-position: -400% -200%;
}
.iconSpritesSvg-volume,.iconSpritesSvg-52{
    mask-position: -500% -200%;
	-webkit-mask-position: -500% -200%;
}
.iconSpritesSvg-fullScrren,.iconSpritesSvg-62{
    mask-position: -600% -200%;
	-webkit-mask-position: -600% -200%;
}
.iconSpritesSvg-fullWindow,.iconSpritesSvg-72{
    mask-position: -700% -200%;
	-webkit-mask-position: -700% -200%;
}
.iconSpritesSvg-unFullScrren,.iconSpritesSvg-82{
    mask-position: -800% -200%;
	-webkit-mask-position: -800% -200%;
}
.iconSpritesSvg-unFullWindow,.iconSpritesSvg-92{
    mask-position: -900% -200%;
	-webkit-mask-position: -900% -200%;
}
/* Y3 */
.iconSpritesSvg-pan,.iconSpritesSvg-03{
    mask-position: 0 -300%;
	-webkit-mask-position: 0 -300%;
}
.iconSpritesSvg-edit,.iconSpritesSvg-13{
    mask-position: -100% -300%;
	-webkit-mask-position: -100% -300%;
}
.iconSpritesSvg-save,.iconSpritesSvg-23{
    mask-position: -200% -300%;
	-webkit-mask-position: -200% -300%;
}
.iconSpritesSvg-download,.iconSpritesSvg-33{
    mask-position: -300% -300%;
	-webkit-mask-position: -300% -300%;
}
.iconSpritesSvg-copy,.iconSpritesSvg-43{
    mask-position: -400% -300%;
	-webkit-mask-position: -400% -300%;
}
.iconSpritesSvg-53{
    mask-position: -500% -300%;
	-webkit-mask-position: -500% -300%;
}
.iconSpritesSvg-63{
    mask-position: -600% -300%;
	-webkit-mask-position: -600% -300%;
}
.iconSpritesSvg-73{
    mask-position: -700% -300%;
	-webkit-mask-position: -700% -300%;
}
.iconSpritesSvg-83{
    mask-position: -800% -300%;
	-webkit-mask-position: -800% -300%;
}
.iconSpritesSvg-93{
    mask-position: -900% -300%;
	-webkit-mask-position: -900% -300%;
}

/* Y4 */
.iconSpritesSvg-radarChart,.iconSpritesSvg-04{
    mask-position: 0 -400%;
	-webkit-mask-position: 0 -400%;
}
.iconSpritesSvg-pieChart,.iconSpritesSvg-04{
    mask-position: -100% -400%;
	-webkit-mask-position: -100% -400%;
}
.iconSpritesSvg-location,.iconSpritesSvg-94{
    mask-position: -900% -400%;
	-webkit-mask-position: -900% -400%;
}

