.homePage{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:auto;
    max-width:1440px;
}

.homePage-firstLine{
    max-width:95%;
    margin:24px auto;
}
.homePage-headlines{
    width:70%;
    background:#0f0;
}
.homePage-headlinesMate{
    position:absolute;
    top:0;
    width:28%;
    height:100%;
    background:#f0f;
    right:0%;
}
/* home  second*/
.homePage-secondLine{
    position:relative; 
    max-width:95%;
    height:250px;
    margin:24px auto;
}
.homePage-hello{
    position:absolute;
    width:32%;
    height:100%;
    max-height:400px;
    background:#252;
    top:0;
}
.homePage-hello.hello1{
    left:0;
}
.homePage-hello.hello2{
    position:relative;
    margin:0 auto;
}
.homePage-hello.hello3{
    right:0;
}
@media (max-width:900px){
    .homePage-headlines{
        width:100%;
        background:#f00;
    }
    .homePage-headlinesMate{
        display:none;
    }
}